<div class="header_partials">
        <a href="/all" class="all">ኩሉ</a>
        <a href="/payed" class="payed">ዚተኸፍለ</a>
        <a href="/unpayed" class="unpayed">ዘይተኸፍለ</a>
        <a href="/add" class="add">Add</a>
</div>