<div class="header_partials">
        <a href="http://localhost:3000/all" class="all">ኩሉ</a>
        <a href="http://localhost:3000/payed" class="payed">ዚተኸፍለ</a>
        <a href="http://localhost:3000/unpayed" class="unpayed">ዘይተኸፍለ</a>
        <a href="http://localhost:3000/add" class="add">Add</a>
</div>