<div class="doc_list">
    <div>ስም ሰዳዲ</div>
    <div >ተለፎን ሰዳዲ </div>
    <div >ስም ተቀባሊ</div>
    <div >ተለፎን ተቀባሊ</div>
    <div >ተቀባሊ ኣድራሻ</div>
    <div >ዓቐን ገንዘብ</div>
    <div >ሸርፊ</div>
    <div >ተኸፊሉ</div>
    <div >ዕለት</div>
</div>