{{> header}}
<div class="menuone">
   <p>ሓዋላ > ኩሉ</p>
</div>
{{> navbar}}
<div class="scroll">
    {{#each all}}
    <a class="div_linked" href="/id/{{this.id}}">
       {{> data}}
    </a>        
    {{/each}}
</div>